# Intermediate R
## -- DataCamp - Data Scientist with R - Course 2 --

 **Note**

To use this code, select the R environment in Anaconda
 
 **Used packages**
 
**Table of content**
- [&nbsp;&nbsp;1. Conditionals and Control Flow](#toc_12654_1)
    - [&nbsp;&nbsp;1.1 Relational Operators](#toc_12654_1.1)
    - [&nbsp;&nbsp;1.2 Logical Operators](#toc_12654_1.2)
- [&nbsp;&nbsp;2. Loops](#toc_12654_2)
    - [&nbsp;&nbsp;2.1 While loop](#toc_12654_2.1)
    - [&nbsp;&nbsp;2.2 For loop](#toc_12654_2.2)
- [&nbsp;&nbsp;3. Functions](#toc_12654_3)
    - [&nbsp;&nbsp;3.1 Get information about existing functions](#toc_12654_3.1)
    - [&nbsp;&nbsp;3.2 Writing functions](#toc_12654_3.2)
        - [&nbsp;&nbsp;3.2.1 Controlling what is returned](#toc_12654_3.2.1)
        - [&nbsp;&nbsp;3.2.2 Guard functions against misuse](#toc_12654_3.2.2)
- [&nbsp;&nbsp;4. The apply family](#toc_12654_4)

**Set environment and plot size**

In [3]:
options(repr.plot.width=7, repr.plot.height=7) # controls display format
theme_set(theme_grey(base_size =10))

Note: if the above code return an error message:
- Check that the correct R environment is selected in Anaconda
- Restart computer

<a name="toc_12654_1"></a>
## 1.   Conditionals and Control Flow

<a name="toc_12654_1.1"></a>
**1.1 Relational Operators**

- `==` - equality operator
- `!=` - inequality operator
- `>`, `<`, `>=`, `<=` - greater, shorter than operators

In [13]:
TRUE == TRUE
-6 * 14 != 17 - 101

[1] TRUE

[1] FALSE

In [9]:
a <- c(16, 9, 13, 17)
b <- c(1, 90, 8, 17)

a <= b

[1] FALSE  TRUE FALSE  TRUE

In [1]:
linkedin <- c(16, 9, 13, 5, 2, 17, 14)
facebook <- c(17, 7, 5, 16, 8, 13, 14)
views <- matrix(c(linkedin, facebook), nrow = 2, byrow = TRUE)

# When does views equal 13?
views==13

     [,1]  [,2]  [,3]  [,4]  [,5]  [,6]  [,7]
[1,] FALSE FALSE  TRUE FALSE FALSE FALSE FALSE
[2,] FALSE FALSE FALSE FALSE FALSE  TRUE FALSE

<a name="toc_12654_1.2"></a>
**1.2 Logial Operators**

- `&`  - and operator
- `|` - or operator
- `!` - NOT operator
- `&&` and `||` - only investigates the first element of a vector! Rarely used.

In [36]:
a <- c(TRUE & TRUE, FALSE & FALSE, TRUE & FALSE)
a
sum(a) # 1 + 0 + 0

[1]  TRUE FALSE FALSE

[1] 1

In [56]:
x <- 12
x > 5 & x < 15
x > 5 & x < 10

[1] TRUE

[1] FALSE

In [58]:
5 & 6 > 5  # means 5 or higher
5 > 5 & 6 > 5  # means higher than 5

[1] TRUE

[1] FALSE

In [20]:
TRUE | TRUE
FALSE | FALSE
TRUE | FALSE

[1] TRUE

[1] FALSE

[1] TRUE

In [21]:
y <- 4
y < 5 | y > 15

[1] TRUE

In [33]:
!TRUE
!FALSE
!!FALSE

[1] FALSE

[1] TRUE

[1] FALSE

In [24]:
!(x < 5)
!is.numeric(5)

[1] TRUE

[1] FALSE

In [30]:
c(TRUE, TRUE, FALSE) & c(TRUE, FALSE, TRUE)
c(TRUE, TRUE, FALSE) && c(TRUE, FALSE, TRUE)
c(FALSE, TRUE, FALSE) && c(TRUE, FALSE, TRUE)

[1]  TRUE FALSE FALSE

[1] TRUE

[1] FALSE

In [32]:
c(TRUE, TRUE, FALSE) | c(TRUE, FALSE, FALSE)
c(TRUE, TRUE, FALSE) || c(TRUE, FALSE, FALSE)
c(FALSE, TRUE, FALSE) || c(TRUE, FALSE, FALSE)

[1]  TRUE  TRUE FALSE

[1] TRUE

[1] TRUE

<a name="toc_12654_1.3"></a>
**1.3 Conditional Statements**

`ifelse()` - one-line ifelse:

Simple if statement:
```R
if(condition) {
  expr
}
```

if else statement:
```R
if(condition) {
   expr1
} else {
   expr2
}
```

else if statement:
```R
if(condition) {
   expr1
} else if(condition2) {
   expr2
}  else {
   expr3
}
```

Nested if conditions are also supported:
```R
if () {
  if () {
    expr1
  } else {
    expr2
  }
} else if() {
  expr3
} else {
  expr4
}
```

In [59]:
x <- 11
ifelse(x < 10, "small", "big")

[1] "big"

In [37]:
x <- -3

if(x < 0) {
    print("x is negative")
}

[1] "x is negative"

In [39]:
x <- 4

if(x < 0) {
  print("x is negative")
} else {
  print("x is positive or zero")
}

[1] "x is positive or zero"

In [45]:
x <- 0

if(x < 0) {
   print("x is negative")
 } else if(x == 0) {
    print("x is zero")
}  else {
    print("x is positive")
}

[1] "x is zero"

In [46]:
x <- 6

if(x %% 2 == 0) {
  print("divisible by 2")
} else if(x %% 3 == 0) {
  print("divisible by 3")
} else {
  print("not divisible by 2 nor by 3")
}

[1] "divisible by 2"

☝️ Once a condition evaluates to TRUE, R will not look at the rest of the statements. So although the second condition, for the else if part, would evaluate to TRUE, nothing gets printed out.

In [49]:
number = 60

if (number < 10) {
  if (number < 5) {
    result <- "extra small"
  } else {
    result <- "small"
  }
} else if (number < 100) {
  result <- "medium"
} else {
  result <- "large"
}
print(result)

[1] "medium"

<a name="toc_12654_2"></a>
## 2.   Loops

<a name="toc_12654_2.1"></a>
**2.1 While loop**

The while loop will continue to execute this code over and over again as long as the condition is true.

```R
while(condition){
    expr
    }
```
Useful statements:
- `break` -  when R finds it, it abandons the currently active while loop. Usually nested in an `if(){}` statement.
- `next` -  when R finds it, it skips the current execution, but then continues. Usually nested in an `if(){}` statement.

Make sure not to create **infinite loops** where the condition is never FALSE.

In [1]:
ctr <- 1

while(ctr <= 4){
    print(paste("ctr is set to", ctr))
    ctr <- ctr + 1 # increment 
}

ctr

[1] "ctr is set to 1"
[1] "ctr is set to 2"
[1] "ctr is set to 3"
[1] "ctr is set to 4"

[1] 5

☝️ without the **increment**, ctr is not updated and we would create an infinite loop

In [2]:
ctr <- 1

while(ctr <= 7){
    if(ctr %% 5 == 0) {
        break
    }
    print(paste("ctr is set to", ctr))
    ctr <- ctr + 1 # increment 
}

[1] "ctr is set to 1"
[1] "ctr is set to 2"
[1] "ctr is set to 3"
[1] "ctr is set to 4"

☝️ as soon as R encountered the break statement (at ctr = 5), it stopped.

In [2]:
num <- 1

while (num <= 5) {
  if (num == 3) {
    num <- num + 1
    next
  }
  print(num)
  num <- num + 1
}

[1] 1
[1] 2
[1] 4
[1] 5

☝️ even when the if statement is true, do not forget to increment **before** the `next` statement, otherwise the loop will stop!

In [5]:
speed <- 64

while (speed > 30) {
  print(paste("Your speed is",speed))
  if (speed > 48) {
    print("Slow down big time!")
    speed <- speed - 11
  } else {
    print("Slow down!")
    speed <- speed - 6
  }
}

[1] "Your speed is 64"
[1] "Slow down big time!"
[1] "Your speed is 53"
[1] "Slow down big time!"
[1] "Your speed is 42"
[1] "Slow down!"
[1] "Your speed is 36"
[1] "Slow down!"

In [3]:
numbers <- c('One','Two',"Three","Four","Five")

for(i in numbers) {
  if(i == "Two")
    next
  if( i == "Four")
    break
  print(i)
}

[1] "One"
[1] "Three"

<a name="toc_12654_2.2"></a>
**2.2 For loop**

Iterates over a sequence of values (e.g. vectors, lists, matrices, data frames).
```R
for(i in seq){
    print(i)
    }
```

The `break` and `next` statements also work here.

A common and more versatile way we can loop over different data structures using the loop index:
```R
for(var in 1:length(data)){
    expr
    print(data[i])
    }
```

For multiple, nested for-loops, always make sure to give distinct names to the iteratopn index! E.g. `i` and `j`

In [13]:
letters <- letters[1:6]
letters

for(i in letters){
    print(i)
    }

[1] "a" "b" "c" "d" "e" "f"

[1] "a"
[1] "b"
[1] "c"
[1] "d"
[1] "e"
[1] "f"

In [14]:
letters2 <- list(letters[1:6])
letters2

for(i in letters2){
    print(i)
    }

[[1]]
[1] "a" "b" "c" "d" "e" "f"

[1] "a" "b" "c" "d" "e" "f"

☝️ Same result

In [23]:
for(i in 1:length(letters)){
    print(letters[i])  # for lists, use [[i]]
    }

[1] "a"
[1] "b"
[1] "c"
[1] "d"
[1] "e"
[1] "f"

In [17]:
for(i in letters){
    if(i == "d"){
        break
    }
    print(i)
}

[1] "a"
[1] "b"
[1] "c"

In [36]:
ttt <- matrix(c("O","X","X","O", "O", "X","X", "O", "X"), ncol = 3)
ttt

for (i in 1:nrow(ttt)) {
  for (j in 1:ncol(ttt)) {
    print(paste0("On row ", i," and column ",j," the board contains ", ttt[i,j]))
  }
}

     [,1] [,2] [,3]
[1,] O    O    X
[2,] X    O    O
[3,] X    X    X

[1] "On row 1 and column 1 the board contains O"
[1] "On row 1 and column 2 the board contains O"
[1] "On row 1 and column 3 the board contains X"
[1] "On row 2 and column 1 the board contains X"
[1] "On row 2 and column 2 the board contains O"
[1] "On row 2 and column 3 the board contains O"
[1] "On row 3 and column 1 the board contains X"
[1] "On row 3 and column 2 the board contains X"
[1] "On row 3 and column 3 the board contains X"

In [38]:
linkedin <- c(16, 9, 13, 5, 2, 17, 14)

for (li in linkedin) {
  if (li > 10) {
    print("You're popular!")
  } else {
    print("Be more visible!")
  }
  if(li > 16){
    print("This is ridiculous, I'm outta here!")
    break
  }
 if(li <5){
    print("This is too embarrassing!" )
    next
  }
}

[1] "You're popular!"
[1] "Be more visible!"
[1] "You're popular!"
[1] "Be more visible!"
[1] "Be more visible!"
[1] "This is too embarrassing!"
[1] "You're popular!"
[1] "This is ridiculous, I'm outta here!"

☝️ if more than one if conditions are satisfied, all of them will be executed.

In [45]:
rquote <- "riraarffurrr"
chars <- strsplit(rquote, split = "")[[1]]

# Initialize rcount
rcount <- 0

# Finish the for loop
for (char in chars) {
  if(char == "r"){
     rcount <- rcount + 1
  }
  if(char == "u"){
      break
  }
  print(rcount)
}

[1] 1
[1] 1
[1] 2
[1] 2
[1] 2
[1] 3
[1] 3
[1] 3

<a name="toc_12654_3"></a>
## 3.   Functions

<a name="toc_12654_3.1"></a>
**3.1 Get information about existing functions**

- `?<funcname>()` - see function documentation
- `args()` - see a function's argument list
- `<funcname>` - see function's source code

Functions may have required and optional arguments. When looking at the documentation, we can easily distinguish the two. For example: `mean(x, trim = 0, na.rm = FALSE, ...)`
- Required arguments have no default value, e.g. `x`
- Optional arguments have a default value, e.g. `trim = 0`, `na.rm = FALSE`
- `...` - a special argument called an **ellipsis**.  It means that the function is designed to take any number of arguments

Note, some function does not have any arguments.

In [63]:
# ?sd()
args(sd)

function (x, na.rm = FALSE)
NULL

In [61]:
sd

function (x, na.rm = FALSE)
sqrt(var(if (is.vector(x) || is.factor(x)) x else as.double(x),
    na.rm = na.rm))
<bytecode: 0x00000000151297b0>
<environment: namespace:stats>

<a name="toc_12654_3.2"></a>
**3.2 Writing functions**


Writing custom functions are very helpful for many reasons:
- Avoid code repetition: type less code, saving effort and making your analyses more readable.
- You make less "copy and paste"-related errors.
- You can reuse your code from project to project.

Syntax:

```R
my_fun <- function(arg1, arg2){
    body
}
```

Statements:
- `return()` - Specifies which expression should be returned by the function. Without specifying a return object, the last expression evaluated in an R function becomes the return value.

<a name="toc_12654_3.2.1"></a>
<u>3.2.1 Controlling what is returned</u>

In [105]:
triple <- function(x){
    3 * x
    2 * x
    5 * x
}

triple(2)

[1] 10

☝️ If no `return` statement was specified, functions return the expression that was evaluated last

In [92]:
triple <- function(x){
    3 * x
    y <- 2 * x
    return(y)    
}

triple(2)

[1] 4

☝️ I specified, only the `return` object will be returned. If we want to use the returned value as a named object, do `y <- triple(2)`

In [96]:
two_dice <- function() {
  possibilities <- 1:6
  dice1 <- sample(possibilities, size = 1)
  dice2 <- sample(possibilities, size = 1)
  dice1 + dice2
}

two_dice ()

res <- two_dice()
res

[1] 4

[1] 7

☝️ Whatever the way of calling the `two_dice()` function, R won't have access to `dice1` and `dice2` outside the function.

In [115]:
two_dice <- function() {
  possibilities <- 1:6
  dice1 <- sample(possibilities, size = 1)
  dice2 <- sample(possibilities, size = 1)
  sum <- dice1 + dice2
  return(c(dice1, dice2, sum))
}

two_dice()

[1] 4 5 9

☝️ If we want to return multiple output, we need to include them inside one return function

In [101]:
interpret <- function(num_views) {
  if (num_views > 15) {
print("You're popular!")
return(num_views)
  } else {
print("Try to be more visible!")
print("It's OK though.")
return(0)
  }
}

interpret(2)

[1] "Try to be more visible!"
[1] "It's OK though."

[1] 0

☝️ Apart from returning an output, functions can print any lines to console.

<a name="toc_12654_3.2.2"></a>
<u>3.2.2 Guard functions against misuse</u>

In [102]:
math_magic <- function(x, y){
    return(x * y + x / y )  # here using return() is optional
}

math_magic(4)

ERROR: Error in math_magic(4): argument "y" is missing, with no default

☝️  We get an error message as there are 2 required arguments. We can circumvent this by making `y` optional:

In [88]:
math_magic <- function(x, y = 1){
    return(x * y + x / y )  # here using return() is optional
}

math_magic(4)

[1] 8

In [84]:
math_magic(4, 0)

[1] Inf

☝️ The `Inf` result indicates that the function was misused. We need to guard against things like this:

In [86]:
math_magic <- function(x, y = 1){
    if(y == 0){
        return(0)
    }
    return(x * y + x / y )  # here using return() is optional
}

math_magic(4, 0)

[1] 0

<a name="toc_12654_4"></a>
## 4.   The apply family

There are many apply functions in R. The most common ones:
- `lapply()`
- `sapply()`
- `vapply()`

But there are other too, like `apply()`, `mapply()`, `tapply()`, `rapply()`

<a name="toc_12654_4.1"></a>
**4.1 lapply**

Iterated over the inputted object and applies a function on each element. It is basically a simplified for loop. 

**`lapply()` always return a list!** The `unlist()` function can convert it to a vector.

lapply allows you to add additional arguments to the function: just include them right after the function you want to apply to your list or vector. E.g.
`lapply(x, mean, na.rm = TRUE)`

In [116]:
nyc <- list(pop = 8405837,
            boroughs = c("Manhattan", "Bronx", "Brooklyn", "Queens", "Staten Island"),
            capital = FALSE)

for(info in nyc){
    print(class(info))
}

[1] "numeric"
[1] "character"
[1] "logical"

In [123]:
# Now with lapply():
lapply(nyc, class)

$pop
[1] "numeric"

$boroughs
[1] "character"

$capital
[1] "logical"

It also works with vectors (and other objects too):

In [121]:
boroughs <- c("Manhattan", "Bronx", "Brooklyn", "Queens", "Staten Island")

num_char <- c()

for(i in 1:length(boroughs)){
    num_char[i] <- nchar(boroughs[i])
}

num_char

[1]  9  5  8  6 13

In [126]:
# Now with lapply():
lapply(boroughs, nchar)

unlist(lapply(boroughs, nchar)) # to get a vector instead of a list

[[1]]
[1] 9

[[2]]
[1] 5

[[3]]
[1] 8

[[4]]
[1] 6

[[5]]
[1] 13

[1]  9  5  8  6 13

Adding additional arguments to the function:

In [135]:
num <- list(a = c(2, 5, 7, 6, 0, 4),
            b = c(2, 5, 7, 6, NA, 4)
            )

lapply(num, mean, na.rm = TRUE)

$a
[1] 4

$b
[1] 4.8

Functions can also be defined inside lapply. These are so-called **anonymous functions**

In [146]:
bor <- list(boroughs)
bor

lapply(bor, function(x){x[3]} )

[[1]]
[1] "Manhattan"     "Bronx"         "Brooklyn"      "Queens"
[5] "Staten Island"

[[1]]
[1] "Brooklyn"

<a name="toc_12654_4.2"></a>
**4.2 sapply**

"Simplified apply". It's **result is a named vector**, which contains the same information as the vector we obtained earlier using unlist and lapply together. If we do not want the vector tobe named, use `USE.NAMES = FALSE`. There are situations when simplification is not possible. In these cases, `sapply()` will return a list just like `lapply()`

In [150]:
lapply(boroughs, nchar)
sapply(boroughs, nchar)

[[1]]
[1] 9

[[2]]
[1] 5

[[3]]
[1] 8

[[4]]
[1] 6

[[5]]
[1] 13

    Manhattan         Bronx      Brooklyn        Queens Staten Island
            9             5             8             6            13

In [152]:
sapply(boroughs, nchar, USE.NAMES = FALSE)

[1]  9  5  8  6 13

<a name="toc_12654_4.3"></a>
**4.3 vapply**

Same as the other two but we can **explicitely specify the output format**. 

This function has a new argument, `FUN.VALUE` where we give a general template for the return value of FUN, the function that you want to apply over the input X. For example, if we want to apply a function that returns a single number (i.e. a numeric vector of length 1) for each element, we need to specify `numeric(1)`. For n-length strings, we can use `character(n)`.

In [156]:
vapply(boroughs, nchar, numeric(1))

    Manhattan         Bronx      Brooklyn        Queens Staten Island
            9             5             8             6            13

In [157]:
basics <- function(x) {
  c(min = min(x), mean = mean(x), max = max(x))
}

temp <- list(c(3, 7, 9, 6, -1),
             c(6, 9, 12, 13, 5),
             c(4, 8, 3, -1, -3))

vapply(temp, basics, numeric(3))

     [,1] [,2] [,3]
min  -1.0  5   -3.0
mean  4.8  9    2.2
max   9.0 13    8.0

<a name="toc_12654_5"></a>
## 5.  A selection of useful R functions

Often used base R function

<u>Check R environment</u>
- `ls()`, `search()`

<u>Mathematical functions</u>
- `sum()`, `round()`, `abs()`, `log()`,`mean()`, `sd()` etc.

<u>Functions for data structures</u>
-  `str()`, `list()`, `is.list()`, `unlist()`, `sort()`, `seq()`, `rep()`, `append()`, `rev()`

<u>Regular expressions</u>
- `grep()`, `grepl()`, `sub()`, `gsub()`, 

<u>Times and Dates</u>
- `Sys.Date()`,`Sys.time()`, `as.Date()`, `as.POSIXct()`  `unclass()`

In [9]:
ls() # objects in workspace
search() # loaded packages attached to search list

character(0)

 [1] ".GlobalEnv"        "jupyter:irkernel"  "package:stats"
 [4] "package:graphics"  "package:grDevices" "package:utils"
 [7] "package:datasets"  "package:methods"   "Autoloads"
[10] "package:base"

In [163]:
rep(seq(1, 10, by = 2), times = 2)
rep(seq(1, 10, by = 2), each = 2)
sort(c(2, 8, 6, 4, 1, 4, 0, 9), decreasing = TRUE)

 [1] 1 3 5 7 9 1 3 5 7 9

 [1] 1 1 3 3 5 5 7 7 9 9

[1] 9 8 6 4 4 2 1 0

In [175]:
linkedin <- list(16, 9, 13, 5, 2, 17, 14)
facebook <- list(17, 7, 5, 16, 8, 13, 14)

li_vec <- unlist(linkedin)
fb_vec <- unlist(facebook)

social_vec <- append(li_vec, fb_vec)

sort(social_vec)

 [1]  2  5  5  7  8  9 13 13 14 14 16 16 17 17

In [174]:
str(nyc)
str(rev(nyc)) # reverses the data structure

List of 3
 $ pop     : num 8405837
 $ boroughs: chr [1:5] "Manhattan" "Bronx" "Brooklyn" "Queens" ...
 $ capital : logi FALSE
List of 3
 $ capital : logi FALSE
 $ boroughs: chr [1:5] "Manhattan" "Bronx" "Brooklyn" "Queens" ...
 $ pop     : num 8405837

In [189]:
animals <- c("cat", "moose", "impala", "ant", "kiwi")

# grepl() gives us logical values
grepl(x = animals, pattern = "a")
grepl(x = animals, pattern = "^a")

# grep() gives us the matched index
grep(x = animals, pattern = "^a")

# sub() can replace the first patterns match in a string
sub(x = animals, pattern = "a", replacement = "_")

# gsub() is like sub() but replaces all matches in a string
gsub(x = animals, pattern = "a", replacement = "_")

[1]  TRUE FALSE  TRUE  TRUE FALSE

[1] FALSE FALSE FALSE  TRUE FALSE

[1] 4

[1] "c_t"    "moose"  "imp_la" "_nt"    "kiwi"

[1] "c_t"    "moose"  "imp_l_" "_nt"    "kiwi"

In [193]:
emails <- c("john.doe@ivyleague.edu", "education@world.gov", "dalai.lama@peace.org",
            "invalid.edu", "quant@bigdatacollege.edu", "cookie.monster@sesame.tv")

grepl(x = emails, pattern = "edu")

# Subset emails 
hits <- grep(x = emails, pattern = "edu")
emails[hits]

[1]  TRUE  TRUE FALSE  TRUE  TRUE FALSE

[1] "john.doe@ivyleague.edu"   "education@world.gov"
[3] "invalid.edu"              "quant@bigdatacollege.edu"

In [225]:
Sys.Date()
Sys.time()

[1] "2023-04-03"

[1] "2023-04-03 16:54:44 CEST"

In [226]:
unclass(Sys.Date()) # R stores dates as numbers calculated from 1970.01.01

[1] 19450

In [230]:
tomorrow <- Sys.Date() + 1
tomorrow

my_date <- as.Date("2023-01-01")
Sys.Date() - my_date

[1] "2023-04-04"

Time difference of 92 days

In [235]:
dates <- as.Date(c("2023-03-16", "2023-03-18", "2023-03-23", "2023-03-29", "2023-04-03"))
diff(dates)
mean(diff(dates))

Time differences in days
[1] 2 5 6 5

Time difference of 4.5 days

In [212]:
strDates <- c("01/05/1965", "08/16/1975")
as.Date(strDates, "%m/%d/%Y")

as.POSIXct("1971-05-14 11:25:15")

[1] "1965-01-05" "1975-08-16"

[1] "1971-05-14 11:25:15 CET"